{% set gid = g.title | slug + "--" + g.creators | listCreators | slug %}
<li class="gamecard flow" id="{{ gid }}">
    {% if g.image %}
    {% if g.team %}
        <img eleventy:widths="400" src="/img/{{ game.year }}/{{ g.team | slug }}/{{ g.image }}" alt="Skärmdump av spelet {{ g.title }}.">
    {% else %}
        <img eleventy:widths="400" src="/img/{{ game.year }}/{{ g.image }}" alt="Skärmdump av spelet {{ g.title }}.">
    {% endif %}
    {% endif %}
    <header>
      <h3>
          {{ g.title }}
      </h3>
      <p>Skapat av: {{ g.creators | listCreators }}</p>
  </header>
  <div class="gamecard__body flow">
    {% if g.description %}
    <p>
        {{ g.description }}
    </p>
    {% endif %}
    {% if g.team %}
    {% set team = game.teams | getTeam(g.team) %}
    <p>Konceptet är utvecklat av <strong class="gamecard__teamname">
            {{ team.team }}</strong>:
        <span>{{ team.members | listCreators }}</span>.
    </p>
    {% endif %}
    {% if g.git %}
    <p>Koden finns på <a href="{{ g.git }}" target="_blank">GitHub</a>.</p>
    {% endif %}
</div>
<footer>
    <button class="button button--like" title="Gilla">❤ 0</button>
    <a class="button" href="{{ g.url }}" target="_blank">Spela {{ g.title }}</a>
</footer>
</li>