<header class="page__hero">
    <div class="page__heading bleed">
        <div class="container">
            <h1 class="page__heading--wrap">År: {{ year }}
                Tema: {{ theme }}
                Spelmotor: {{ engine }}
            </h1>
        </div>
    </div>
</header>