---
title: 2018
layout: games.njk
---
{% set year = 2018 %}
{% set theme = y2018.theme %}
{% set engine = y2018.engine %}
<main id="main-content" class="page container">
    {% set herotext = title + " - " + y2018.theme %}
    {% include 'components/games-hero.njk' %}
    <section class="page__content flow">
        {% set class = y2018.classes | hearts %}
        <h2>
        {{ class }}
        </h2>
        <p class="lead">Spelprojektets första år, 2018, genomfördes med klassen Te16. Temat 
            var jul och eleverna startade spelet med varierande kunskaper om javascript
            och canvas-elementet.</p>
        <p class="lead">Resultatet blev en stor variation av speltyper och
            komplexitet. Det visade sig att det inte är helt enkelt att koda spel
        och en stor del av tiden gick åt att skapa spelmotorn.</p>
        <p class="lead">Tills vidare finns spelen samlade på sidan 
            <a href="https://jensnti.github.io/te16jul/" target="_blank">TE16 Julspel</a>.
        {% set teams = y2018.teams %}
        <section class="gamecards">
            {% for game in y2018.games | randomize %}
            {% include 'components/game-card.njk' %}
            {% else %}
            <p>Spelen kommer, i det här fallet kan du skylla på läraren.</p>
            {% endfor %}
        </section>
    </section>
</main>