---
title: 2020
layout: games.njk
---
{% set year = 2020 %}
{% set theme = y2020.theme %}
{% set engine = y2020.engine %}
<main id="main-content" class="page container">
    {% set herotext = title + " - " + y2020.theme %}
    {% include 'components/games-hero.njk' %}
    <section class="page__content flow">
        {% set class = y2020.classes | hearts %}
        <h2>
        {{ class }}
        </h2>
        <p class="lead">2020 blev första året då vi använde spelmotorn Phaser. 
        Uppgiften utfördes i grupp. Grupperna var blandade teknikare och estetare
        och tillsammans skapade de spelens koncept. </p>
        <p class="lead">Tyvärr är spelen något svåra att komma åt i dagsläget då 
        läraren hade en ide om hur de skulle hostas på webben.</p>
        {% set teams = y2020.teams %}
        <section class="gamecards">
            {% for game in y2020.games | randomize %}
            {% include 'components/game-card.njk' %}
            {% else %}
            <p>Spelen kommer, i det här fallet kan du skylla på läraren.</p>
            {% endfor %}
        </section>
    </section>
</main>