---
title: 2021
layout: games.njk
---
{% set year = 2021 %}
{% set theme = y2021.theme %}
{% set engine = y2021.engine %}
<main id="main-content" class="page container">
    {% set herotext = title + " - " + y2021.theme %}
    {% include 'components/games-hero.njk' %}
    <section class="page__content flow">
        {% set class = y2021.classes | hearts %}
        <h2>
        {{ class }}
        </h2>
        <p class="lead">I år så har de här klasserna sammarbetat för att skapa spel 
            under ett antal veckor i november och december. Spelprojektet började 
            med gemensam brainstorming, följt av föreläsning med Daniel från 
            <a href="https://arcticgamelab.com/" target="_blank">Arctic Game Lab</a>.
        </p>
        <p class="lead">Upplägget för det här året delade upp eleverna i mindre team
            som tillsammans ansvarade för att skapa spelens koncept. Efter det fick
            eleverna individuella uppdrag i att skapa spel, eller delar av spel.
        </p>
        <p class="lead">Vi fick även sällskap av årets 
            <a href="https://www.ntigymnasiet.se/program/mjukvarudesign/umea/">Gymnasieingenjörer</a> 
            som ville arbeta med Unity.</p>
        {% set teams = y2021.teams %}
        <section class="gamecards">
            {% for game in y2021.games | randomize %}
            {% include 'components/game-card.njk' %}
            {% endfor %}
        </section>
    </section>
</main>