---
layout: games.njk
---
{% set year = 2021 %}
<main id="main-content" class="page container">
    {% set herotext = title + " - " + y2021.theme %}
    {% include 'components/hero.njk' %}
    <section class="page__content flow">
        <h2>Stuff</h2>
        {% set teams = y2021.teams %}
        <section class="gamecards">
            {% for game in y2021.games %}
                <article class="gamecard">
                    <img 
                        src="/img/{{ year }}/{{ game.team }}/{{ game.image }}"
                        alt="Skärmdump av spelet {{ game.title }}.">
                    <header">
                        <h3>
                            {{ game.title }}
                        </h3>
                        <p>{{ game.creator }}</p>
                    </header>
                    <p>
                        {{ game.description }}
                    </p>
                    {% for team in teams | getTeam(game.team) %}
                        <p>{{ team.team }}</p>
                        <p>{{ team.members }}</p>
                    {% endfor %}
                    <p>
                        Koden finns på <a href="{{ game.git }}" target="_blank">GitHub</a>.
                    </p>
                    <footer>
                        <a class="button button-link" href="{{ game.url }}" target="_blank">Spela</a>
                    </footer>
                </article>
            {% endfor %}
        </section>
    </section>
</main>