---
title: 2022
layout: games.njk
---
{% set year = 2022 %}
{% set theme = y2022.theme %}
{% set engine = y2022.engine %}
<main id="main-content" class="page container">
    {% set herotext = title + " - " + y2022.theme %}
    {% include 'components/games-hero.njk' %}
    <section class="page__content flow">
        {% set class = y2022.classes | hearts %}
        <h2>
            {{ class }}
        </h2>
        <p class="lead">Det här året så blev det ett annorlunda upplägg, detta eftersom vi saknade Estet-klass att
            sammarbeta med. Eleverna fick möjlighet att välja projekt, så alla skapade inte heller spel. De spel som
            skapades var individuella arbeten.</p>
        <p>Till skillnad från tidigare år så var valet av spelmotor öppet, eleverna fick först testa på att arbeta med
            olika spelmotorer. De kunde sedan om de ville arbeta med den spelmotorn i projektet.</p>
        {% set teams = y2022.teams %}
        <section class="gamecards">
            {% for game in y2022.games | randomize %}
            {% include 'components/game-card.njk' %}
            {% endfor %}
        </section>
    </section>
</main>