---
title: '404'
layout: base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

{% set herotext = title %}
<main id="main-content" class="page container">
    {% include 'components/hero.njk' %}
    <section class="page__content flow">
        <h2>{{ title }} - Sidan kunde inte hittas</h2>
        <p class="lead">
            Ursäkta, men sidan du letade efter kunde inte hittas. 
            Var snäll och försök från <a href="/">startsidan</a> igen.
        </p>
    </section>
</main>