---
pagination:
  data: games
  size: 1
  alias: game
permalink: "/games/{{ game.year }}/"
layout: games.njk
---

<main id="main-content" class="page container">
  {% set herotext = game.year + " - " + game.theme %}
  <header class="page__hero">
    <div class="page__heading bleed">
      <div class="container">
        <h1 class="page__heading--wrap">År: {{ game.year }}
          Tema: {{ game.theme }}
          Spelmotor: {{ game.engine }}
        </h1>
      </div>
    </div>
  </header>
  <article class="page__content flow">
    <header class="flow">
      <h2>{{ game.classes | hearts }}</h2>
      <p class="lead">{{ game.lead }}</p>
      {{ game.description | renderUsingMarkdown | safe }}
    </header>
    <ul class="gamecards">
      {% for g in game.games | randomize %}
      {% include 'components/game-card.njk' %}
      {% else %}
      <li>Spelen kommer, i det här fallet kan du skylla på läraren.</li>
      {% endfor %}
    </ul>
  </article>
</main>