---
title: Spelutveckling
layout: base.njk
---

<main id="main-content" class="page container">
  <header class="page__hero">
    <div class="page__heading bleed">
      <div class="container">
        <h1>{{ title }}
          {{ meta.school }}
        </h1>
      </div>
    </div>
  </header>
  <section class="page__content flow">
    <p class="lead">Med start 2018 så är ett återkommande moment på teknikprogrammet att
      i kursen Webbutveckling 2 skapa ett spel med jul eller vinter som tema. Uppgiften har haft lite olika
      utformningar, men grunden har alltid varit att skapa ett spel för webben.</p>
    <p class="lead">Från början så användes lite olika former av spelmotorer, egna varianter eller exempel
      från lärararen. Sedan 2020 har dock de hemsnickrade varianterna bytts ut mot <a target="_blank"
        href="https://phaser.io/">
        Phaser 3</a>.
      Anledningen till det är att kunna fokusera
      mer på att skapa ett spel och mindre på att skapa en spelmotor.
    </p>
    <p class="lead">Från och med projektets andra år, 2019, fick vi på
      <a href="https://www.ntigymnasiet.se/program/informations-och-medieteknik/umea/"
        target="_blank">teknik-programmet</a>
      förstärkning av skolans elever som läser
      <a href="https://www.ntigymnasiet.se/program/estetik-och-media/umea/" target="_blank">estetisk-inriktning</a>.
      Tillsammans har eleverna fått skapa spelets-koncept. För att sedan enskilt, eller i grupp
      arbeta med att skapa grafik eller koda spelet.
    </p>
    <p class="lead">Målet med den här sidan är att dokumentera, spara och visa upp
      elevernas arbeten.
    </p>
    <p class="lead">Från oss lärare, <a href="mailto:frej.frykholm@ntig.se">Frej</a> och <a
        href="mailto:jens.andreasson@ntig.se">Jens</a>, till er alla, hoppas ni hittar något kul och
      inspirerande!</p>
      <div class="page__button-container">
        {% set game = games | last %}
        <a href="/games/{{ game.year }}" class="button">Ta mig till årets spel!</a>
      </div>
    <p>Alla år och spel finns ännu inte representerade på sidan, det kommer.</p>
  </section>
</main>