---
title: Spelutveckling
layout: base.njk
---

<main id="main-content" class="page container">
  <header class="page__hero">
    <div class="page__heading bleed">
      <div class="container">
        <h1>{{ title }}
          {{ meta.school }}
        </h1>
      </div>
    </div>
  </header>
  <section class="page__content flow">
    <p class="lead">Med start 2018 så är ett återkommande moment på teknikprogrammet att
      i kursen Webbutveckling 2 skapa ett spel med jul, vinter eller annat. Uppgiften har haft lite olika
      utformningar, men grunden har alltid varit att skapa ett spel för webben.</p>
    <p class="lead">Från och med projektets andra år, 2019, fick vi på
      <a href="https://www.ntigymnasiet.se/program/informations-och-medieteknik/umea/"
        target="_blank">teknik-programmet</a>
      förstärkning av skolans elever som läser
      <a href="https://www.ntigymnasiet.se/program/estetik-och-media/umea/" target="_blank">estetisk-inriktning</a>.
      Tillsammans har eleverna fått skapa spelets-koncept. För att sedan enskilt, eller i grupp
      arbeta med att skapa grafik eller koda spelet.
    </p>
    <p class="lead">Målet med den här sidan är att dokumentera, spara och visa upp
      elevernas arbeten.
    </p>
    <h2>Clickers</h2>
    <p class="lead">Förutom att skapa spel så har eleverna i kursen Webbutveckling 1 flera gånger skapat clicker-spel. Spelen har skapats i syfte att låta eleverna använda och testa på lite kodning med javascript.</p>
    <p class="lead">Från oss lärare, <a href="mailto:frej.frykholm@ntig.se">Frej</a> och <a
        href="mailto:jens.andreasson@ntig.se">Jens</a>, till er alla, hoppas ni hittar något kul och
      inspirerande!</p>
      <div class="page__button-container">
        {% set game = games | last %}
        <a href="/games/{{ game.year }}" class="button">Ta mig till årets spel!</a>
      </div>
    <p>Alla år och spel finns ännu inte representerade på sidan, det kommer.</p>
  </section>
</main>